openapi: 3.0.3
info:
  termsOfService: https://termofservice.it
  x-api-id: api-internal-web-pa
  title: 'Piattaforma Notifiche: API per il Front End delle PG destinatarie'
  x-summary: 'Piattaforma Notifiche: API per il Front End delle PG destinatarie'
  version: '2.0.0'
  description: >-
    ## Abstract
      API utilizzate dal portale di Piattaforma Notifiche dedicato alle Persone Giuridiche destinatarie
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: https://webapi.pn.pagopa.it
    description: Ambiente di produzione
  - url: https://webapi.uat.pn.pagopa.it
    description: Ambiente di test
  - url: https://webapi.dev.pn.pagopa.it
    description: Ambiente di sviluppo
tags:
  - name: PublicKeys
    description: >-
      Invocazioni utilizzabili dalle PG destinatarie per la gestione delle public keys


paths:
  "/pg-self/public-keys":
    get:
      summary: Ricerca public keys
      description: >-
        servizio di consultazione della lista delle public keys
      tags:
        - PublicKeys
      operationId: getPublicKeys
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'      # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'   # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'     # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxRoleAuthFleet'   # NO EXTERNAL
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: lastKey
          in: query
          required: false
          schema:
            type: string
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
        - name: showPublicKey
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeysResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      summary: Censimento public key
      description: >-
        servizio di censimento di una public key
      tags:
        - PublicKeys
      operationId: newPublicKey
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'      # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'   # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'     # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxRoleAuthFleet'   # NO EXTERNAL
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicKeyRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeyResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  "/pg-self/public-keys/{kid}":
    delete:
      summary: Rimozione public key
      description: >-
        servizio di rimozione della public key identificata tramite Kid
      tags:
        - PublicKeys
      operationId: deletePublicKeys
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxRoleAuthFleet'   # NO EXTERNAL
        - $ref: '#/components/parameters/pathKid'
      responses:
        '204':
          description: No content
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Wrong state transition (i.e. delete an enabled key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  "/pg-self/public-keys/{kid}/status":
    put:
      summary: Blocco/Riattivazione public key
      description: >-
        servizio di blocco/riattivazione della public key identificata tramite Kid
      tags:
        - PublicKeys
      operationId: changeStatusPublicKey
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxRoleAuthFleet'   # NO EXTERNAL
        - $ref: '#/components/parameters/pathKid'
        - $ref: '#/components/parameters/queryStatus'
      responses:
        '204':
          description: No content
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Wrong state transition (i.e. enable an enabled key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  "/pg-self/public-keys/{kid}/rotate":
    post:
      summary: Rotazione public key
      description: >-
        servizio di rotazione della public key identificata tramite Kid
      tags:
        - PublicKeys
      operationId: rotatePublicKey
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxRoleAuthFleet'   # NO EXTERNAL
        - $ref: '#/components/parameters/pathKid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicKeyRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeyResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Wrong state transition (i.e. enable an enabled key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  "/pg-self/public-keys/issuer/status":
    get:
      summary: Verifica esistenza issuer
      description: >-
        servizio di verifica esistenza issuer
      tags:
        - PublicKeys
      operationId: getIssuerStatus
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'      # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'   # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'     # NO EXTERNAL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeysIssuerResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

components:
  parameters:
    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    ### N.B. PRENDERLE DA AUTH FLEET ###
    cxTypeAuthFleet:                                                       # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxTypeAuthFleet'    # NO EXTERNAL
    cxIdAuthFleet:                                                         # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxIdAuthFleet'      # NO EXTERNAL
    cxGroupsAuthFleet:                                                     # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'  # NO EXTERNAL
      required: false
    uidAuthFleet:                                                          # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/uidAuthFleet'       # NO EXTERNAL
    cxRoleAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxRoleAuthFleet'
    pathKid:
      description: >-
           Identificativo univoco della public key
      name: kid
      in: path
      required: true
      schema:
        type: string
        x-field-extra-annotation: "@lombok.ToString.Exclude" # NO EXTERNAL
    queryStatus:
      description: >-
        Action per il cambio stato di una public key
      name: status
      in: query
      required: true
      schema:
        type: string
        enum:
          - 'BLOCK'
          - 'ENABLE'
  schemas:
    Problem:
      $ref: './remote-refs.yaml#/components/schemas/Problem'
    PublicKeysResponse:
      title: Elenco di public keys
      description: >-
        Dto contenente la lista delle public keys associate ad una pg.
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PublicKeyRow'
        lastKey:
          type: string
        createdAt:
          type: string
        total:
          type: integer
    PublicKeysIssuerResponse:
      title: Verifica esistenza issuer
      description: >-
        Dto contenente la verifica dell'esistenza di un issuer
      type: object
      properties:
        isPresent:
          type: boolean
        issuerStatus:
          description: Stato dell'issuer
          type: string
          enum: [ 'ACTIVE', 'INACTIVE' ]

    PublicKeyRow:
      type: object
      properties:
        kid:
          type: string
          description: Id della public key
          x-field-extra-annotation: "@lombok.ToString.Exclude" # NO EXTERNAL
        issuer:
          type: string
          description: Issuer della public key
          x-field-extra-annotation: "@lombok.ToString.Exclude" # NO EXTERNAL
        name:
          type: string
          description: Nome della public key
        value:
          type: string
          description: Valore dell public key restituito solo se il query param showPublicKey == True
          x-field-extra-annotation: "@lombok.ToString.Exclude" # NO EXTERNAL
        createdAt:
          type: string
          description: Data censimento public key
          format: date-time
        status:
          $ref: '#/components/schemas/PublicKeyStatus'
        statusHistory:
          type: array
          description: Storico degli stati delle public key
          items:
            $ref: '#/components/schemas/PublicKeyStatusHistory'
    PublicKeyStatus:
      description: Stato della public key
      type: string
      enum: ['CREATED', 'ACTIVE', 'ROTATED', 'BLOCKED', 'DELETED']
    PublicKeyStatusHistory:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/PublicKeyStatus'
        date:
          type: string
          description: data a cui corrisponde il cambio di stato
          format: date-time
        changedByDenomination:
          type: string
          description: nome dell'utente che ha effettuato il cambio di stato
    PublicKeyRequest:
      title: Richiesta di censimento nuova public key
      description: >-
        Request per il censimento di una nuova public key
      type: object
      required:
        - publicKey
      properties:
        name:
          type: string
          description: nome della public key
        publicKey:
          type: string
          description: Valore della public key (esclusi header e footer)
        exponent:
          type: string
          description: Esponente della public key
          default: 'AQAB'
        algorithm:
          description: Algoritmo di crittografia usato per la public key
          type: string
          enum: ['RS256']
          default: 'RS256'
    PublicKeyResponse:
      title: Response censimento public key
      description: >-
        Response del censimento di una nuova public key
      type: object
      required:
        - kid
        - issuer
      properties:
        kid:
          type: string
          description: Kid della public key caricata da utilizzare nell'header kid del token JWT
          x-field-extra-annotation: "@lombok.ToString.Exclude" # NO EXTERNAL
        issuer:
          type: string
          description: Valore dell'issuer per la key caricata da utilizzare nel claims iss del token JWT

#  securitySchemes:                                      # ONLY EXTERNAL
#    bearerAuth:                                         # ONLY EXTERNAL
#      type: http                                        # ONLY EXTERNAL
#      scheme: bearer                                    # ONLY EXTERNAL
#      bearerFormat: JWT                                 # ONLY EXTERNAL
#security:                                               # ONLY EXTERNAL
# - bearerAuth: []                                       # ONLY EXTERNAL
